{% extends '../base.html' %}
{% load static %}
{% block local_css %}{% endblock %}
{% block content %}
    <div class="m-3">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ratione.</p>
        <h3>Eveniet facilis perspiciatis tenetur?</h3>
        <p>Ab dignissimos illum laborum magni quis rem sunt tenetur voluptas?</p>
        <h3>Nobis rerum sapiente voluptatem.</h3>
        <p>Architecto at debitis, dicta eaque perspiciatis quibusdam! A, in porro!</p>
        <h3>Facilis magnam nam sapiente.</h3>
        <p>Aliquid, aut debitis delectus error maxime nulla perferendis provident voluptatibus.</p>
        <h3>Atque blanditiis consequuntur quisquam!</h3>
        <p>Accusantium ea facilis laudantium minima molestias suscipit totam veniam vitae.</p>
    </div>
{% endblock %}
{% block local_js %}{% endblock %}